<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>SpeedBay</title>

    <link href="../static/bootstrap/css/bootstrap.css"
          th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>

<div th:include="/fragments/navbar::defaultNavbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron">
            <h1 th:text="#{navbar.welcome}">Willkommen</h1>
        </div>
    </div>
</div>


<script th:src="@{/jquery/jquery.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
</body>
</html>